{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Pulse Platform{% endblock %}</title>
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-5.3.8/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
</head>
<body>

    {% block topbar %}
        {% include 'main/partials/topbar.html' %}
    {% endblock %}

    {% block layout %}
    <div class="app-container">
        {% include 'main/partials/sidebar.html' %}

        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>
    {% endblock %}

    <script src="{% static 'main/js/base.js' %}"></script>
    <script src="{% static 'bootstrap-5.3.8/js/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
