<aside class="sidebar" id="sidebar">
    <nav>
        <ul>
            <li>
                <a href="{% url 'principal-page' %}">
                    <span class="icon">
                        <i class="fa-solid fa-house"></i>
                    </span>
                    <span class="link-text">Home</span>
                </a>
            </li>
            <li>
                <a href="{% url 'users-page' %}">
                    <span class="icon">
                        <i class="fa-solid fa-users"></i>
                    </span>
                    <span class="link-text">People</span>
                </a>
            </li>
            <li>
                <a href="{% url 'registro_ponto' %}">
                    <span class="icon">
                        <i class="fa-solid fa-clock"></i>
                    </span>
                    <span class="link-text">Registro de Ponto</span>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard_registro_ponto' %}">
                    <span class="icon">
                        <i class="fa-solid fa-chart-line"></i>
                    </span>
                    <span class="link-text">Dashboard de Ponto</span>
                </a>
            </li>
        </ul>
    </nav>

    <button class="toggle-btn" id="toggleSidebar">
        <span class="toggle-icon">
        </span>
    </button>
</aside>
