<header class="topbar">
    <h1>Pulse</h1>

    <div class="topbar-actions">
        {% if not user.is_authenticated %}
            <button
                class="btn-login"
                data-bs-toggle="modal"
                data-bs-target="#loginModal"
            >
                Entrar
            </button>
        {% else %}
            <div class="dropdown">
                <button
                    class="btn btn-light dropdown-toggle user-dropdown"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <i class="fa-solid fa-circle-user"></i>
                </button>

                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="fa-solid fa-user me-2"></i>
                            Perfil
                        </a>
                    </li>

                    <li><hr class="dropdown-divider"></li>

                    <button
                        class="dropdown-item text-danger"
                        type="button"
                        onclick="handleLogout(event)"
                    >
                        <i class="fa-solid fa-right-from-bracket me-2"></i>
                        Sair
                    </button>

                </ul>
            </div>
        {% endif %}
    </div>
</header>